{% extends "base.html.twig" %}

{% block title %}
{% endblock title %}

{% block heading %}
    <h1>HELLO</h1>
{% endblock heading %}

{% block body %}
    div
    <p>Welcome to the future {{ message }}</p>
{% endblock body %}